* {
  font-family: "Helvetica Neue", sans-serif !important;
}

.app,
body {
  text-align: center;
  background-color: #1da1f2 !important;
}

.item-cards-list {
  padding-bottom: 5%;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

.item-cards {
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

.items-layout {
  padding: 2%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.items-container {
  margin: 5%;
  padding: 1%;
  justify-content: center;
  text-align: center;
}

.testDiv {
  margin: 5rem;
}

.list-page {
  justify-content: center;
  text-align: center;
}

.search-box {
  border-radius: 20px;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 35%;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--main-color);
}

.edit-input {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow: auto;
}

.ui.card.list-card-item {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#logo {
  font-size: 3rem;
  font-family: "Fredoka One", cursive !important;
  color: white;
  letter-spacing: 0.1em;
}

h2 {
  color: #fade81;
  text-decoration: white wavy underline;
  text-underline-position: under;
}
